<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/Css/main.css">
        <link rel="stylesheet" href="/static/Css/auth.css">
        <link rel="stylesheet" href="/static/Css/animation.css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
           {{!-- <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
         <script type="text/javascript" src="/static/registration.js"></script> --}}
        
    </head>
    <body>
        
            {{!-- <div class="signIn">
                <a class="anchor signAnchor" href="http://localhost:8900/signIn"> 
                    <button>Sign In</button>
                </a>
                
            </div> --}}
       
         <div class="logo">
                <img class="logo-img" src="https://www.graphicsprings.com/filestorage/stencils/42298ed295d21bc3884b0e738c407379.png?width=500&height=500">
                 <h3>
                     QuickNews
                 </h3>
           </div>
        

        {{{body}}}
         

{{!-- <script type="text/javascript" src="/static/registration.js"></script> --}}
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
         <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script> 
           <script type="text/javascript" src="/static/registration.js"></script>
           {{!-- <script type="text/javascript" src="/static/loginProcess.js"></script> --}}

    </body>
     
</html> 
 
