<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <link rel="stylesheet" href="/static/Css/main.css">
        <link rel="stylesheet" href="/static/Css/auth.css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <img class="logo-img" src="https://www.graphicsprings.com/filestorage/stencils/42298ed295d21bc3884b0e738c407379.png?width=500&height=500">
                 <h3>
                     QuickNews
                 </h3>

            </div>
            <a class="anchor  profileToHome" href="http://localhost:8900/">
                
                <i class="fa fa-home fa-2x"></i>
        
                </a>
               
            <div class="search-bar1" >
                <div class="search-bar2">
                     <input type= "text" class="search-input" > 
                     <i class="fa fa-search fa-2x icon" aria-hidden="true"></i>   
                     
                </div>   
            </div> 
            <div class="weather">
               

            </div>
           <div class="signIn">
                <a class="anchor signAnchor logout">
                <button>Logout</button>
                </a>
           </div>
            
            
        </header>
      

        {{{body}}}

  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
        {{!-- <script type="text/javascript" src="/static/script.js"></script> --}}
        <script type="text/javascript" src="/static/profileScript.js"></script>
    </body>
</html> 
 