<div class="forgetConatiner">
    <div class="sub-1">
        <input type="text" class="Email" placeholder="Enter your mail">
    </div>
    <div class="sub-0">
        

    </div>
    <div class="sub-2">
        <button type="button" class="btn btn-success sendVerification">Send Verification Email</button>
    </div>
</div>

{{!-- Abc123@! --}}