<div class="mainDiv loginDiv">
    <div class="welcome">
        <h3>Welcome</h3>
    </div>


    <div class="input">
            <div class="input-1">
                <i class="fa fa-envelope"></i>
                <input class="email" type="text" placeholder="email address">
            </div>
       
            <div class="input-2">
                <i class="fa fa-lock"></i>
                <input class="password" type="text" placeholder="password">
             </div>
             <div class="input-3"></div>
       
    </div>

    <div class="forgetPassword">
        <i class="fa fa-key" aria-hidden="true"></i>
       <a class="anchorForget" href="https://quicknews-app.herokuapp.com/forgetPassword"><p>Forget Password?</p></a> 
    </div>

    <div class="login ">
        <button type="button" class="loginButton">Login</button>
    </div>
    <div class="Or" >
        Or
    </div>
    <div  class="signUp">
        <p>New to Quick News? </p>
        <a class="anchor" href="https://quicknews-app.herokuapp.com/registerPage"><span>Sign Up</span></a>
        
    </div>   
</div>

<div class="movingPage">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>