<div class="mainDiv registerDiv">
    <div class="welcome">
        <h3>Create Account</h3>
    </div>


    <div class="input">
            <div class="input-0">
                <i class="fa fa-user"></i>
                 <input class="username" type="text" placeholder="name">
            </div>
            <div class="input-1">
                <i class="fa fa-envelope"></i>
                <input class="email" type="text" placeholder="email address">
            </div>
       
            <div class="input-2">
                <i class="fa fa-lock"></i>
                <input class="password" type="text" placeholder="password">
             </div>
             <div class="input-3">
                 <input type="text" class="UserExist">

             </div>
       
    </div>

    <div class="login regsiterLogin">
         {{!-- {{#if data}} --}}
      {{!-- <a class="loginAnchor" href="http://localhost:8900/"> --}}
       {{!-- <button type="button" class="btn btn-danger">User already exist</button> --}}
          {{!-- <button type="button" class="loginBtn">Sign Up</button> --}}

      {{!-- </a> --}}
      {{!-- {{else}} --}}
        
      
        {{!-- <a class="aTag" href="http:/localhost:8900/register">-}} <button type="button" class="loginBtn">Sign Up</button>
        <button type="button" class="loginBtn">Sign Up</button> 

        {{!-- {{/if}} --}}
        <button type="button" class="loginBtn">Sign Up</button> 

      
    </div>

         <div class="Or" >
             Or
         </div>

        <div  class="signUp registerSignUp">
            <p> Already have an Account? </p>
             <a class="anchor" href="https://quicknews-app.herokuapp.com/signIn"><span>Login</span></a>
        
        </div>

</div>


<div class="movingPage">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
