<div class="resetcontainer">
    <h3>Reset Password</h3>
    <div class="reset-1">
        <input type="text" class="resetNewPass" placeholder="Enter New Password">
    </div>
    <div>
        <input type="text" class="resetConfirmPass" placeholder="Confirm New Password">
    </div>
    <div class="passNotMatched">
        
    </div>
    <div class="btnPass">
        <button type="button" class=" btn btn-success submitPass">Submit</button>
    </div>
</div>